@charset "utf-8";

/*2014-07-30 lewis.ye*/

body {
    min-width: 320px;
    font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    color: #3c3c3c;
    -webkit-text-size-adjust: none;
}
.help_center {
    padding: 10px;
    line-height: 25px;
}
.help_center h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}
.t_indent {
    text-indent: 2em;
}


.help_pro h3 {
    color: #BD00BD;
}
.help_pro p {
    margin: 5px 0;
}

.help_center ul.ser_ul li{
    margin: 8px 0;
}